<html>
    <head>
        <title>Hello World</title>
    </head>
    <body>
        <div class="container">
            <h1>Astronomy Picture of the Day!</h1>
            <img src="{{url}}">
        </div>
    </body>
</html>